<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>专业编辑</title>
    <style>
        form {
            margin: 20px auto;
            width: 500px;
            border: 1px solid #ccc;
            padding: 20px
        }
    </style>
</head>
<body>
<a href="../">返回</a>
<form method="post" action="../edit/">
    {% csrf_token %}
    <input type="hidden" name="mid" value="{{ major.mid }}"/>

    <table>
        <tr>
            <th>专业代码</th>
            <td>{{ major.mid }}</td>
        </tr>
        <tr>
            <th>专业名称</th>
            <td>
                <input name="mname" value="{{ major.mname }}">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>