<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生管理系统</title>
    <style>
        table {
            margin: 20px auto;
            width: 500px;
            border: 1px solid #ccc;
            padding: 20px
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td align="center">
                <a href="./major/">专业总览</a>
            </td>
        </tr>
        <tr>
            <td align="center">
                <a href="./course/">课程总览</a>
            </td>
        </tr>
        <tr>
            <td align="center">
                <a href="./award/">奖惩总览</a>
            </td>
        </tr>
        <tr>
            <td align="center">
                <a href="./student/">查看学生列表</a>
            </td>
        </tr>
        <tr>
            <td align="center">
                <a href="./sa/">查看奖惩清单</a>
            </td>
        </tr>
        <tr>
            <td align="center">
                <a href="./sc/">查看选课清单</a>
            </td>
        </tr>
    </table>
</body>
</html>
