<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程列表</title>
</head>
<body>
    <a href="../">返回</a>
    <form action="../course/" style="margin: 10px 0">
        <input name="cname" placeholder="请输入课程名称" value="{{ cname }}" style="margin-right: 10px" />
        <input name="cid" placeholder="请输入课程代码" value="{{ cid }}" style="margin-right: 10px" />
        <button type="submit">查询</button>
    </form>
    <table border="1px" width="100%" style="border-collapse: collapse;">
        <tr>
            <th>课程代码</th>
            <th>课程名称</th>
            <th>所属专业</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td align="center">{{ course.cid }} </td>
            <td align="center">{{ course.cname }} </td>
            <td align="center">{{ course.mname }} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
