<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程列表</title>
</head>
<body>
<a href="../">返回</a>
<table border="1px" width="100%" style="border-collapse: collapse;">
    <tr>
        <th>课程代码</th>
        <th>课程名称</th>
        <th>所属专业</th>
    </tr>
    {% for course in courses %}
        <tr>
            <td align="center">{{ course.cid }} </td>
            <td align="center">{{ course.cname }} </td>
            <td align="center">{{ course.mname }} </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>