<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增奖惩信息</title>
    <style>
        form {
            margin: 20px auto;
            width: 500px;
            border: 1px solid #ccc;
            padding: 20px
        }
    </style>
</head>
<body>
<a href="../sa">返回</a>
<form method="post" action="../sa/add?sid={{ sid }}">
    {% csrf_token %}
    <table>
        <tr>
            <th>奖惩</th>
            <select name="award_id">
                {% for option in options %}
                    <option value="{{ option.aid }}">{{ option.aname }}</option>
                {% endfor %}
            </select>
        </tr>
        <tr>
            <th>获奖时间</th>
            <td><input type="date" name="award_time" value="2005-01-01"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>